@import url('https://fonts.googleapis.com/css?family=Archivo|Archivo+Black|Noto+Serif+JP&display=swap');

body {
    background-color: #ffffff;
    color: #2b2d2f;
    font-family: "Noto Serif JP", 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 2.25em;
}
nav ul, footer ul, a, h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo Black", "Helvetica", "Arial", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
    color: #271140;
}

h1 {
    font-size: 4.5em;
    margin-bottom: 1em;
    line-height: 1em;
    width: 100%;
}

h2 {
    width: 95%;
    font-size: 1.75em;
    border-bottom: dotted;
    border-width: .25em;
    margin: 2em 0;
    padding-bottom: .25em;
}

.container { 
    margin: 3.75em auto;
    width: 95%;
}

.content {
    width: 90%;
    position: relative;
    margin: 1em 0 2em 0;
    border-left-color: #E6D350;
    border-left-width: 1.5em;
    border-left-style: solid;
    padding-left: 1em;
}
nav ul, footer ul {
    font-size: 1.6em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #E02699;
}
a:hover {
    text-decoration: underline;
}


p {
    font-size: 1.5em;
    line-height: 1.6em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.post-date { 
    font-weight: bold;
    font-size: 1.75em;
}

.portfolio-container { 
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
}

.portfolio-item-image {
  margin: 1.5em auto;
  width: 275px;
  height: 375px;
}

.portfolio-item-image img {
    width: 100%;
    min-width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: grey;
    border-width: 0;
    border-style: solid;
    margin-left: 0em;
}
 .portfolio-link {
     text-align: center;
     padding-left: 1em;
    }

    .post-image {
        width: 75%;
        display: block;
        margin: 1em auto;
    }

    .post-navigation {
        font-size: 1.75em;
        margin: 1em auto;
        width: 100%;
        text-align: center;
    }

.resp-container {
    position: relative;
    overflow: hidden;
    width: 100%;
     padding-bottom: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

    @media only screen and (min-width: 768px) {
        /* tablets and desktop */

        .container { 
           
            width: 65%;
        }

        .portfolio-item-image img {
            margin-left: 1em;
        }

        .content {
            padding-left: 2.5em;
        }

        .portfolio-link {
            padding-left: 2.5em;
           }

           h1 {
    font-size: 5em;
              }
    }
    
    @media only screen and (max-width: 767px) {
        /* phones */
    }
